<a href="https://colab.research.google.com/github/BALAJIKUMARAN-CS/myAssignment/blob/main/assignment4Ans.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Assignment 4 Answers:

**SUBMITTED BY BALAJIKUMARAN CS**

####1. What exactly is [ ]?

    The empty list represented by [] is a list that contains no items.

In [ ]:
#Example:

a = []

print(f"The Values of a: {a}")
print(f"The Type of a: {type(a)}")
print(f"The Size of a: {len(a)}")

The Values of a: []
The Type of a: <class 'list'>
The Size of a: 0

####2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)

    * spam[2]='hello' (Note: Lists follows zero based indexing)

    * If we use spam[2] = 'hello' means it replaces the old value 6

In [ ]:
#Example:

spam=[2,4,6,8,10]

print(f"The values of old list is : {spam}\n")

print(f"The third value of old list is : {spam[2]}\n")

spam[2]='hello'

print(f"The values of new list is : {spam}\n")

print(f"The third value of new list is : {spam[2]}\n")

The values of old list is : [2, 4, 6, 8, 10]

The third value of old list is : 6

The values of new list is : [2, 4, 'hello', 8, 10]

The third value of new list is : hello

#Let's pretend the spam includes the list ['a','b','c',d'] for the next three queries.

###3. What is the value of spam[int(int('3'*2)//11)] ?

    The answer is 'd'
    
    Explanation:
    -----------

    * '3' * 2 is the string '33', which is passed to int() before being divided by 11.
    * This eventually evaluates to 3, spam[3] is equal to d.

In [ ]:
#Example:

spam = ['a','b','c','d']

print(spam[int(int('3'*2)//11)])

d

####4. What is the value of spam[-1]?

    The answer is 'd'
    
    Explanation:
    -----------

    * Lists support Negative indexing, Hence spam[-1] returs 'd').
    
    * -1 index returns last item of the list.

In [ ]:
#Example:

spam = ['a','b','c','d']

print(spam[-1])

d

###5. What is the value of spam[:2]?

    The answer of spam[:2] is ['a', 'b']

    Explanation:
    -----------

    * If we did not declare starting index means it will consider 0

    * The end index is 2, so spam[:2] returns all elements in the list spam from 0 to 2 excluding 2

In [ ]:
#Example:

spam = ['a','b','c','d']
print(spam[:2])

['a', 'b']

#Let's pretend bacon has the list [3.14,'cat',11,'cat',True] for the next three question

####6. What is the value of bacon.index('cat')?

    The value of bacon.index('cat') is 1
    
    Explanation:
    ------------
    
    Index method returns the index of first occuerence of 'cat'

In [ ]:
#Example:

bacon=[3.14,'cat',11,'cat',True]

print(bacon.index('cat'))

1

#####7. How does bacon.append(99) change the look of the list value in bacon?

    The append method adds new elements to the end of the list

In [ ]:
#Example:

bacon=[3.14,'cat',11,'cat',True]

print(f"The old list is : {bacon}\n")

bacon.append(99) # appends 99 to the end of the list
print(f"The new list is : {bacon}\n")

The old list is : [3.14, 'cat', 11, 'cat', True]

The new list is : [3.14, 'cat', 11, 'cat', True, 99]

###8. How does bacon.remove('cat') change the look of the list in bacon?

    The remove method removes the first occurence of the element in the list

In [ ]:
#Example:

print(f"The list is : {bacon}\n")

bacon.remove('cat')

print(f"The updated list is : {bacon}\n")

The list is : [3.14, 'cat', 11, 'cat', True, 99]

The updated list is : [3.14, 11, 'cat', True, 99]

###9. what are the list concatenation and list replication operations?

    * The operator for list concatenation is +
    
    * while the operator for replication is *

In [ ]:
list1 = [1,2]

list2= [3,4]

#Concatenation --> concatinates both the list in a single list

print(f"The concatenation of {list1} and {list2} is {list1+list2}\n")

#Replication --> it replicates the exact copy (n times) in a single list

print(f"The replication of {list1} x 2 is {list1 *2}")

The concatenation of [1, 2] and [3, 4] is [1, 2, 3, 4]

The replication of [1, 2] x 2 is [1, 2, 1, 2]

###10. what is the difference between the list method append() and insert()?

    append()
    --------

    It will add values only to the end of a list
    
    insert()
    --------
    
    It can add them anywhere in the list with the help of index value

In [ ]:
comic = ["naruto",'minato','kabuto']

print(f"The old list ----> {comic}\n")

#Example of Append

comic.append("hinata")

print(f"The list after append 'hinata' ----> {comic}\n")

#Example of insert

comic.insert(0,"jiraya")

print(f"The list after insert 'jiraya' in '0 th ' position----> {comic}")

The old list ----> ['naruto', 'minato', 'kabuto']

The list after append 'hinata' ----> ['naruto', 'minato', 'kabuto', 'hinata']

The list after insert 'jiraya' in '0 th ' position----> ['jiraya', 'naruto', 'minato', 'kabuto', 'hinata']

####11. What are the two methods for removing items from a list?

    The del statement and the remove() method are two ways to remove values from a list

del:
   
    Syntax:
    -------

    del list_name[index]  # To delete single value
    del list_name        # To delete whole list

remove() Method:

    Syntax:
    -------

    list_name.remove(value)

In [ ]:
#Example of del:

newList = ["naruto",'minato','kabuto']

del newList[1]

print(f"The list after 'del[1]' : {newList}")

The list after 'del[1]' : ['naruto', 'kabuto']

In [ ]:
#Example of remove:

newList = ["naruto",'minato','kabuto']

newList.remove("naruto")

print(f"The list after remove('naruto') : {newList}")

The list after remove('naruto') : ['minato', 'kabuto']

###12. Describe how list values and string values are identical.

    Below are some reasons how list values and string values are identical:

    * Both lists and strings can be passed to len() function

    * Have indexes and slices, used in for loops,
    
    * Can be concatenated or replicated
    
    * Can be used with the 'in' and 'not in' operators.

###13. What's the difference between tuples and lists?

    List:
    -----

    * Lists are Mutable, Indexable and Slicable.

    * We can add, remove, change the values in a list.

    * lists use the square brackets [].
    
    Tuples:
    -------

    * Tuples are Immutable but Indexable and Slicable.
    
    * The tuple values cannot be changed at all.
    
    * Tuples are represented using parentheses ().

In [ ]:
#Example:

list_num = [1,2,3,4]

tup_num = (1,2,3,4)

print(f"The type of list_num is {type(list_num)}\n")

print(f"The type of tuple_num is {type(tup_num)}")

The type of list_num is <class 'list'>

The type of tuple_num is <class 'tuple'>

###14. How do you type a tuple value that only contains the integer 42?

    The answer is --> (42,)

    Explanation:
    -----------

    The trailing comma is mandatory. Otherwise its considered as a int by python Interpreter

In [ ]:
#Example:

sample1=(42)

sample2=(42,)

print(f"The type of (42) is {type(sample1)}\n")

print(f"The type of (42, ) is {type(sample2)}")

The type of (42) is <class 'int'>

The type of (42, ) is <class 'tuple'>

####15. How do you get a list value's tuple form? How do you get a tuple value's list form?

    The tuple() and list() functions, respectively are used to convert a list to tuple and vice versa

In [ ]:
sampleList = [1,2,3,4]

sampleTuple = (5,6,7,8)

print(f"The list {sampleList} is converted to {tuple(sampleList)}\n") # It converts list into tuple form

print(f"The tuple {sampleTuple} is converted to {list(sampleTuple)}\n") # It converts tuple into list form

The list [1, 2, 3, 4] is converted to (1, 2, 3, 4)

The tuple (5, 6, 7, 8) is converted to [5, 6, 7, 8]

###16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?

    They contain references to list values.

####17. How do you distinguish between copy.copy() and copy.deepcopy()?

    copy():
    ------

    * The copy.copy() function will do a shallow copy of a list

    * A shallow copy creates a new compound object and then references the objects contained in the original within it, which means it constructs a new collection object and then populates it with references to the child objects found in the original.
    
    * The copying process does not recurse and therefore won’t create copies of the child objects themselves.
    
    * In the case of shallow copy, a reference of an object is copied into another object.
    
    * It means that any changes made to a copy of an object do reflect in the original object.
    
    In python, this is implemented using the “copy()” function.

    
    * Syntax:
    
        list2=copy.copy(list1)

       
    
    deepcopy():
    -----------

    * copy.deepcopy() function will do a deep copy of a list.

    * A deep copy creates a new compound object before inserting copies of the items found in the original into it in a recursive manner.
    
    * It means first constructing a new collection object and then recursively populating it with copies of the child objects found in the original.

    * In the case of deep copy, a copy of the object is copied into another object.
    
    * It means that any changes made to a copy of the object do not reflect in the original object.

    * Syntax:
    
        list2=copy.deepcopy(list1)

In [ ]:
#Example of ShallowCopy:

import copy

old_list = [[1, 1, 1], [2, 2, 2], [3, 3, 3]]
new_list = copy.copy(old_list)

old_list[1][1] = 'TEST'

print("Old list:", old_list)
print("New list:", new_list)

Old list: [[1, 1, 1], [2, 'TEST', 2], [3, 3, 3]]
New list: [[1, 1, 1], [2, 'TEST', 2], [3, 3, 3]]

In [ ]:
#Example of DeepCopy:

import copy

old_list = [[1, 1, 1], [2, 2, 2], [3, 3, 3]]
new_list = copy.deepcopy(old_list)

old_list[1][0] = 'REST'

print("Old list:", old_list)
print("New list:", new_list)

Old list: [[1, 1, 1], ['REST', 2, 2], [3, 3, 3]]
New list: [[1, 1, 1], [2, 2, 2], [3, 3, 3]]